/**************/
/* CSS REMEDY */
/**************/

/********/
/* MAIN */
/********/

main {
    background-color: var(--background-section);
}

/* webkit bron: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/-webkit-text-stroke */
main h1 {
    grid-row-start: 1;
    grid-column-start: 1;
    justify-self: center;
    padding-top: 2em;
    font-size: 1em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--stroke-color);
}

main section:first-of-type {
    display: grid;
    grid-template-rows: min-content 1fr max-content;
    color: var(--color-text-dark);
    background-color: var(--background-recipies);
}

main section:first-of-type h2 {
    grid-row-start: 2;
    grid-column-start: 1;
    justify-self: center;
    padding-top: 1em;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--stroke-color);
}

main section:first-of-type p {
    text-align: center;
    grid-row-start: 4;
    grid-column-start: 1;
    padding: 1em;
}

main section:first-of-type img {
    height: auto;
    min-width: 100%;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    order: -10;
}

/*******************/
/* Recept articles */
/*******************/

main section:nth-of-type(2) {
    display: grid;
    justify-content: center;
    color: var(--color-text-dark);
}

/* @media (width > 800px) {
    main section:nth-of-type(2) {
        display: grid;
        justify-content: center;
        color: var(--color-text-dark);
        grid-template-columns: repeat( auto-fit, minmax(20em, 1fr) );
    }

    main section:nth-of-type(2) > h2 {
        padding: 1em;
        color: var(--color-text-dark);
        text-align: center;
        position: absolute;
        justify-self: center;
    }

    main section:nth-of-type(2) button {
        visibility: hidden;
    }

    main section:nth-of-type(2) article {
        margin-top: 8em;
    }  
} */


main section:nth-of-type(2) h2 {
    padding: 1em;
    color: var(--color-text-dark);
    text-align: center;
}

main section:nth-of-type(2) button {
    padding: 1em;
    color: var(--color-text-light);
    background: var(--button-color);
    border: none;
    border-radius: .5em;
}

main section:nth-of-type(2) > button {
    justify-self: center;
    width: 35%;
    padding: 1em;
    margin: 0 1em 2em 1em;
}

/* articles */
article {
    display: grid;
    grid-template-rows: max-content max-content 5em max-content;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    width: 20em;
    margin: 2em;
    color: var(--color-text-dark);
    background: var(--background-header-gradient);
    border-radius: .5em;
    text-align: left;
}

article img {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
    border-radius: .5em .5em 0 0;
}

article h2 {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    align-self: left;
    padding: 1em 1em 0 1em;
}

article table {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    align-self: center;
    margin: 2em;
}

article button {
    grid-row-start: 4;
    margin: 2em;
}

th {
   font-weight: 400; 

}

td {
   font-weight: 700; 

}